body {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #fdf0d5;
  overflow: hidden;
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

#Chat {
  width: 100%;
}

#mensagem {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

#mensagem p {
  /* margin-top: 23vh; */
  padding: 10px;
  color: white;
  width: fit-content;
  border: 0px solid;
  border-radius: 20px;
  border-start-start-radius: 0;
  font-size: 1.5rem;
  position: sticky;
  position: -webkit-sticky;
  z-index: 9999;
}

.eu p {
  justify-self: end;
  background-color: rgb(89, 136, 160);
}

.tu p {
  background-color: #c1121f;
}

#EnviarMensagem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33%;
  width: 100%;
  /* background-color: rgb(23, 22, 26); */
  height: 25vh;
  position: fixed;
}

#EnviarMensagem input {
  padding: 3vh;
  width: 55%;
  height: 0;
  border: 0 solid;
  outline: none;

  font-size: 1.5rem;
}

.arquivos {
  border: 0 solid;
  border-start-start-radius: 50px;
  border-end-start-radius: 50px;
  padding: 15px;
  cursor: pointer;
  width: 2vw;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.enviar {
  border: 0 solid;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
  padding: 15px;
  height: 6vh;
  cursor: pointer;
  width: 6vw;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
}

img {
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}

.perfi {
  display: flex;
  color: #003049;
  background-color: #669bbc;
}
.perfi h1 {
  margin-left: 6%;
}
.icons {
  margin-left: 75%;
  font-size: 5rem;
  margin-right: 5%;
}
